#footer {
    background-color: #000000;
    width: 100%;
    margin-top: 70px;
}

.footer_nav {
    max-width: 1920px;
    padding: 0 258px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 60px;
}

.footer_column_links {
    width: 357px;
}

.footer_link {
    font-family: Unbounded;
    font-weight: 400;
    font-size: 25px;
    color: #FFFFFF;
    display: block;
    text-decoration: none;
    line-height: 49.6px;
}

.footer_link:hover {
    text-decoration: underline;
}

.footer_nav_buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer_button {
    width: 34px;
    height: 34px;
    cursor: pointer;
    background-color: inherit;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.footer_nav:nth-child(2) {
    margin-top: -110px;
}

.footer_paragraph {
    font-family: Unbounded;
    font-weight: 400;
    font-size: 17px;
    color: #FFFFFF;
}

.footer_paragraph {
    display: flex;
    gap: 5px;
    margin-top: 230px;
}
 
.footer_paragraph span {
    margin-top: 2px;
}

.footer_paragraph_1 {
    font-family: Unbounded;
    font-weight: 400;
    font-size: 17px;
    color: #FFFFFF;
    margin-top: 258px;
}

@media (max-width: 1540px) {
    .footer_nav {
        padding: 0 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .footer_paragraph {
        margin-top: 0px;
    }
    .footer_paragraph_1 {
        margin-top: 20px;
    }
    .footer_nav {
        flex-wrap: wrap;
    }
}

@media (max-width: 1000px) {
    .footer_nav_column {
        margin-top: 30px;
        margin: auto;
        text-align: center;
        justify-content: center;
    }
    .footer_nav_column:last-child {
        padding-top: 20px;
    }
    .footer_nav {
        margin: auto;
        display: block;
        justify-content: center;
    }
    .footer_column_links {
        text-align: center;
        justify-content: center;
        margin: auto;
    }
    .footer_link {
        text-align: start;
    }
    .footer_paragraph {
        margin-top: 20px;
        text-align: center;
        justify-content: center;
    }
}

@media (max-width: 406px) {
    .footer_column_links {
        width: 100%;
    }
    .footer_link {
        width: 100%;
    }
}